html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #a1909050;
    margin-block-end: 100px;
    padding-bottom: 100px;
    margin: 0;

}

.container {
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.imgCod {
    width: 350px;
    max-width: 100%;
    height: auto;
}

.conteudoPrincipal {
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center, justify;
    margin-top: 50px;
}

.imgPrincipal {
    padding-right: 2% !important;
}

.tituloConteudo {
    text-align: center;
    background-color: rgba(187, 206, 198, 0.349);
    border-radius: 15px;
}


footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 20%;
}

p {

    font-size: 14px;
    margin: 0;
}

.contact-list {
    list-style: none;
    padding: 0;
  }
  
  .contact-list li {
    margin-bottom: 10px;
  }
  
  .contact-list a {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
  }
  
  .contact-list a:hover {
    color: #f00;
  }
  
  .contact-list i {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .contatos {
    position: absolute;
    top: 10%;
    margin-top: 10%;
    left: 15%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
  }
  