body {
    background-color: #a1909050;
    margin-block-end: 100px;
}

.container {
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.conteudoPrincipal {
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center, justify;
}

.tituloConteudo{
    text-align: center;
    background-color: rgba(187, 206, 198, 0.349);
    border-radius: 15px;
}


#rodape {
    background: gray;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    text-align: center;
    
}