<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>


  <div class="nav_item">
    <button (click)="homeButton()" mat-raised-button color="primary" class="nav_link">
      Pagina inicial
    </button>

  </div>



  <div class="conteudoPrincipalbody">

    <div class="container">
        <h1>Em consturção...</h1>
        <img src="../../assets/coding.gif">
      </div>

    <div class="conteudoPrincipal">
      <h2 class="tituloConteudo"> Introducao ao curso Ciencias da Computação</h2>
      <h4>Nesse repositorio irei detalhar alguns temas e materias que estudei no curso de ciencias da computação,
        uma forma de
        ajudar quem esta começando na area ou ja esta no universidade.</h4>
      <img align="left"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Alan_Turing_Aged_16.jpg/200px-Alan_Turing_Aged_16.jpg">
    </div>



  </div>
</body>

</html>
